.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 50px;
  }

  .searchInput {
    padding: 10px;
    background-color: #F5F5F5;
    border: 1px solid #B0B0B0;
    border-radius: 5px;
    margin-bottom: 40px;
  }
  
  .breadcrumb {
    font-size: 16px;
    color: #7D7D7D;
    margin-bottom: 40px;
  }
  
  .breadcrumb a {
    text-decoration: none;
    color: #666;
  }
  
  .breadcrumb a:hover {
    text-decoration: underline;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 16px;
    color: #333;
    margin-bottom: 40px;
  }
  
  .tabs {
    display: flex;
    justify-content: start;
    margin-bottom: 50px;
  
    button {
      background: #F1F1F1;
      border: none;
      padding: 10px 20px;
      margin: 0 5px;
      font-size: 16px;
      border-radius: 20px;
      cursor: pointer;
    }
  
    .activeTab {
      background-color: #25492A;
      color: white;
    }
  }

  .alphabet {
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 50px;

    span {
      font-weight: bold;
      color: #B0B0B0;
    }

    .activeLetter {
      font-weight: bold;
      color: #004d00;
    }
  }
  
  .termsList {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .term {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
      margin-bottom: 30px;
      overflow-wrap: anywhere;
  
      h3 {
        font-size: 20px;
        color: #006400;
        margin: 0;
      }
  
      p {
        width: 60%;
        font-size: 16px;
        color: #333;
        margin: 0;
      }
    }
  }
  
  .registration {
    margin-top: 30px;
    padding: 20px;
    background-color: #F1F1F1;
    border-radius: 10px;
    text-align: center;
  
    p {
      font-size: 18px;
      margin-bottom: 15px;
    }
  
    .registerButton {
      background-color: #006400;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      cursor: pointer;
  
      &:hover {
        background-color: #004d00;
      }
    }
  }

  .skeleton * {
    width: 100% !important;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;

    .button {
      background-color: #006400;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      cursor: pointer;
    
      &:hover {
        background-color: #004d00 !important;
      }
    }
  }

  @media (max-width: 825px) {
    .tabs {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
  
      button {
        margin-bottom: 10px;
      }
    }

    .breadcrumb {
      font-size: 14px;
      margin-bottom: 20px;
      line-height: 1.5;
  }
  
    .termsList {
      .term {
        flex-direction: column;
        align-items: flex-start;
  
        p {
          width: 100%;
        }
      }
    }
  
    .alphabet {
      width: 100%;
      flex-wrap: wrap;
      justify-content: start;

      span {
        margin: 5px;
      }
    }
  }
