.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 50px;
}
  
.breadcrumb {
    font-size: 16px;
    color: #7d7d7d;
    margin-bottom: 40px;
}

.breadcrumb a {
    text-decoration: none;
    color: #666;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.description {
    font-size: 16px;
    color: #333;
    margin: 20px 0;
}

.tabsContainer {
    margin: 20px 0;
}

.tab {
    background: none;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: #25492a;
}

.active {
    background-color: #f0f0f0;
}

.tabHeaders {
    margin-bottom: 20px;
}

.skeletonCard {
    width: 70% !important;
    height: 200px !important;
}

@media (max-width: 825px) {
    .breadcrumb {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .tabsContainer {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .tabsContainer a {
        margin-bottom: 10px;
    }
  
    .tab {
        width: 100%;
    }
}
  
@media (pointer: coarse) {
    .breadcrumb a:hover {
        text-decoration: none;
    }

    .tabsContainer .active {
        background-color: #25492a;
    }
  
    .tab {
        background-color: #f5f5f5;
        color: #25492a;
    }
}
