.restorePasswordContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../assets/background.png") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #282b2f;
    position: relative;
  }
  
  .backLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 40px;
    left: 40px;
    color: white;
    font-size: 16px;
    text-decoration: none;
  
    svg {
      margin-right: 5px;
    }
  }
  
  .restorePasswordCard {
    background-color: white;
    padding: 2rem;
    border-radius: 16px;
    width: 40%;
    box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
  }
  
  .inputItem {
    margin: 15px 0;
  
    span {
      font-family: "Helvetica Neue";
      font-weight: 400;
    }
  }
  
  .requiredStar {
    color: green;
    margin-left: 3px;
  }
  
  .restorePasswordTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .restorePasswordButton {
    width: 100%;
    background-color: #282b2f;
    color: white;
    margin-top: 10px;
  }
  
  .restorePasswordButton:hover {
    background-color: #000 !important;
  }
  
  .loginLink {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: #2a6f2b;
    font-weight: bold;
  }
  
  .loginLink a {
    color: #2a6f2b;
    margin-left: 5px;
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .restorePasswordCard {
      width: 80%;
    }
  
    .backLink {
      top: 20px;
      left: 20px;
    }
  
    .loginLink {
      font-size: 14px;
    }
  }
  
  @media (pointer: coarse) {
    .restorePasswordButton:hover {
      background-color: #282b2f !important;
    }
  
    .loginLink a:hover {
      text-decoration: none;
    }
  }
  