.noResults {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 24px;
  padding-bottom: 50px;
}

.noDataImage {
  height: 300px;
  rotate: 8deg;
}

.noDataText {
  font-size: 24px;
  color: #2b5329;
  position: relative;
  top: -40px;
  left: 10px;
}
