.loginButton {
    align-items: center;
    background-color: #040;
    border: none;
    font-size: 16px;
    padding: 10px;
  }
  
  .loginButton:hover {
    background-color: #030 !important;
  }
  
  .loginButtonIcon {
    padding-top: 2px;
  }