.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px 50px;
}

.breadcrumb {
  font-size: 16px;
  color: #7d7d7d;
  margin-bottom: 40px;
}

.breadcrumb a {
  text-decoration: none;
  color: #666;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

.searchInput {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
}

.articleList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.articleItem {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  background-color: #f9f9f9;
  overflow-wrap: break-word;

  .articleDetails {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    .articleInfo {
      width: 95%;
      display: flex;
      flex-direction: column;
  
    .articleTitle {
      word-wrap: break-word;
      overflow-wrap: break-word;
      word-break: break-word;
      font-size: 18px;
      margin: 0;
    }
  
    .articleAuthor {
      word-wrap: break-word;
      overflow-wrap: break-word;
      word-break: break-word;
      font-size: 14px;
      color: #7d7d7d;
    }
  }
  
  .isCompletedCheckbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 15px;
  
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    position: relative;

    &:checked {
      background-color: #1f832e;
      border: none;
      margin-right: 15px;
  
      &::before {
        content: "";
        position: absolute;
        width: 6px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }
  
    }
}

.articleImage {
  width: 90px;
  height: 120px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 5px;
}

.loading {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skeletonButton {
  width: 100% !important;
  height: 150px !important;
}

.iconCheckbox {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 4px;
  left: 8px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.marked,
.unmarked {
  width: 20px;
  height: auto;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.marked:hover,
.unmarked:hover {
  opacity: 1;
}



@media (max-width: 768px) {
  .breadcrumb {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.5;
  }
}

@media (max-width: 480px) {
  .articleItem {
    flex-direction: column;
    align-items: center;

    .articleImage {
      margin: 10px 0;
    }

    .articleDetails {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;

      .articleTitle {
        word-wrap: break-word;
        overflow-wrap: break-word;
      }

      .articleAuthor {
        word-wrap: break-word;
        overflow-wrap: break-word;
      }
    }
  }
}

@media (pointer: coarse) {
  .breadcrumb a:hover {
    text-decoration: none;
  }
}
