.questComponentContainer {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0;
  }
  
  .breadcrumb {
    font-size: 16px;
    color: #7d7d7d;
    margin-bottom: 40px;
  }
  
  .breadcrumb a {
    text-decoration: none;
    color: #666;
  }
  
  .breadcrumb a:hover {
    text-decoration: underline;
  }
  
  .description {
    white-space: pre-wrap;
    font-size: 16px;
    color: #333;
    margin: 20px 0;
  }
  
  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .dropdownIcon {
    cursor: pointer;
    font-size: 24px;
    color: #2b5329;
    margin-bottom: 10px;
  }
  
  .materialLink {
    text-decoration: none;
    color: #006400;
    font-weight: bold;
  }
  
  .textLink {
    text-decoration: underline;
    color: #333;
    margin: 10px 0;
  }
  
  .materialIcon {
    margin-right: 5px;
  }
  
  .tabsContainer {
    margin: 20px 0;
  }
  
  .tab {
    background: none;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: #25492a;
  }
  
  .active {
    background-color: #f0f0f0;
  }
  
  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 8px;
    background-color: #f3f3f3;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 20px 0;
    width: 100%;
  }
  
  .cardImageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }
  
  .cardImage {
    width: 30%;
    height: auto;
  }
  
  .textTaskContainer {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .optionsTaskContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .inputField {
    width: calc(100% - 120px);
    padding: 12px 16px;
    font-size: 16px;
    border: 2px solid #d1d1d1;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .optionsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
  }
  
  .optionLabel {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
  }
  
  .optionInput {
    margin-right: 10px;
    accent-color: #4caf50;
  }
  
  .cardImageContainer {
    margin-bottom: 20px;
  }
  
  .cardImage {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .tabHeaders {
    margin-bottom: 20px;
  }
  
  .cardTitle {
    font-size: 18px;
    font-weight: 400;
    color: #333;
  }
  
  .submitButton {
    width: 120px;
    background-color: #040;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #030;
  }
  
  .submitButton:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: default;
    opacity: 0.6;
  }
  
  .skeletonCard {
    width: 70% !important;
    height: 200px !important;
  }
  
  .feedbackContainer {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
  }
  
  .feedbackText {
    margin: 0;
    font-size: 16px;
    color: #333;
  }
  
  .correctIcon {
    color: green;
    margin-right: 10px;
  }
  
  .incorrectIcon {
    color: red;
    margin-right: 10px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  @media (max-width: 825px) {
    .breadcrumb {
      font-size: 14px;
      margin-bottom: 20px;
      line-height: 1.5;
    }
  
    .h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }
  
    .tabs {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
  
      button {
        margin-bottom: 10px;
      }
    }
  
    .cardsContainer {
      flex-direction: column;
      align-items: center;
    }
  
    .cardImage {
      width: 100%;
    }
  
    .card {
      width: calc(100% - 40px);
      margin-bottom: 20px;
    }
  }
  
  @media (pointer: coarse) {
    .breadcrumb a:hover {
      text-decoration: none;
    }
  
    .tabs a:hover {
      background-color: transparent;
    }
  
    .tabs .activeTab {
      background-color: #25492a;
    }
  
    .tab {
      background-color: #f5f5f5;
      color: #25492a;
      border: 1px solid #000;
    }
  }
  