.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 50px;
  }
  
  .breadcrumb {
    font-size: 16px;
    color: #7D7D7D;
    margin-bottom: 40px;
  }

  .breadcrumb a {
    text-decoration: none;
    color: #666;
  }
  
  .breadcrumb a:hover {
    text-decoration: underline;
  }
  
  h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px !important;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .gridItem {
    text-align: start;
  
    img {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }
  
    p {
      margin-top: 10px;
      font-size: 20px;
      font-weight: 500;
      color: #25492A;
    }
  }
  
  .registrationBlock {
    background-color: #f5f8ec;
    padding: 20px;
    margin-top: 40px;
    border-radius: 8px;
    text-align: center;
  
    h3 {
      font-size: 24px;
      margin-bottom: 10px;
    }
  
    p {
      font-size: 16px;
      margin-bottom: 20px;
      color: #333;
    }
  
    .registerButton {
      background-color: #2a4b2d;
      color: #fff;
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  
      &:hover {
        background-color: #243d27;
      }
    }
  }
  