.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 50px;
  }
  
  .breadcrumb {
    font-size: 16px;
    color: #7D7D7D;
    margin-bottom: 40px;
  }

  .breadcrumb a {
    text-decoration: none;
    color: #666;
  }
  
  .breadcrumb a:hover {
    text-decoration: underline;
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .searchInput {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #F5F5F5;
    border: 1px solid #B0B0B0;
    border-radius: 5px;
  }
  
  .articleList {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .spinner {
    width: 100%;
    min-height: 500px;
  }
  
  .articleItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    background-color: #F9F9F9;
  }

  .articleItem:hover {
    background-color: #F0F0F0;

    .arrow {
      fill: #25492A;
    }
  }

  .articleTitle {
    color: #25492A;
  }

  .articleAmount {
    color: #25492A;
  }
  
  .articleImage {
    width: 120px;
    height: 160px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .articleDetails {
    flex-grow: 1;
  
    h3 {
      font-size: 18px;
      margin: 0;
    }
  
    p {
      font-size: 14px;
      color: #7D7D7D;
    }
  }