@font-face {
    font-family: 'Helvetica Neue';
    src: url('public/fonts/HelveticaNeue/HelveticaNeue-Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('public/fonts/HelveticaNeue/HelveticaNeue-Bold.otf') format('opentype');
    font-weight: bold;
}

.app {
    font-family: 'Helvetica Neue';
}
