.pdfContainer {
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 90vh;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;

  @media (max-width: 768px) {
    height: 80vh;
  }
}
