.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px 50px;
}

.breadcrumb {
  font-size: 16px;
  color: #7d7d7d;
  margin-bottom: 40px;
}

.breadcrumb a {
  text-decoration: none;
  color: #666;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.description {
  white-space: pre-wrap;
  font-size: 16px;
  color: #333;
  margin: 20px 0;
}

.skeletonBreadcrumb {
  width: 20vw;
  height: 20px !important;
}

.skeletonTitle {
  width: 40vw;
  height: 30px;
}

.skeletonDescription {
  width: 100%;
  height: auto;
}

.skeletonContent {
  width: 100% !important;
  height: 400px !important;
}

@media (max-width: 825px) {
  .breadcrumb {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  .h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

@media (pointer: coarse) {
  .breadcrumb a:hover {
    text-decoration: none;
  }
}
