.updatePasswordContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../assets/background.png") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #282b2f;
    position: relative;
  }
  
  .backLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 40px;
    left: 40px;
    color: white;
    font-size: 16px;
    text-decoration: none;
  
    svg {
      margin-right: 5px;
    }
  }
  
  .updatePasswordCard {
    background-color: white;
    padding: 2rem;
    border-radius: 16px;
    width: 40%;
    box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
  }
  
  .updatePasswordTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .inputItem {
    margin: 15px 0;
  
    label {
      font-family: "Helvetica Neue";
      font-weight: 400;
    }
  }
  
  .updatePasswordButton {
    width: 100%;
    background-color: #282b2f;
    color: white;
    border: none;
    margin-top: 10px;
  }
  
  .updatePasswordButton:hover {
    background-color: #000 !important;
  }
  
  @media (max-width: 768px) {
    .updatePasswordCard {
      width: 80%;
    }
  
    .backLink {
      top: 20px;
      left: 20px;
    }
  }
  