.introPage {
  padding: 20px 50px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.breadcrumb {
  font-size: 16px;
  color: #7d7d7d;
  margin-bottom: 40px;
}

.breadcrumb a {
  text-decoration: none;
  color: #666;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.contentBlock {
  margin-bottom: 40px;

  ul li {
    line-height: 1.5;
  }
}

.contentBlock h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.description {
  font-size: 16px;
  color: #333;
  margin: 20px 0;
}

.skeletonCard {
  width: 100% !important;
  height: 250px !important;
}

.searchInput {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
}

.filtersContainer {
  display: flex;
  flex-direction: column;
}

.starRating {
  gap: 9px;
  display: flex;
  margin-bottom: 20px;
}

.starRatingTitle {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #333;
  margin: 0;
}

.stars {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-direction: row;
}

.star {
  font-size: 20px;
  color: #d3d3d3;
  cursor: pointer;
  transition: color 0.3s;
  transition: transform 0.3s ease;
}

.star.filled {
  color: gold;
  transform: scale(1.1);
}


.resetButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
}

.tags {
  display: flex;
  align-content: center;
  gap: 8px;
  margin-bottom: 20px;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  background-color: rgb(255, 255, 255);
  color: #333;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.85rem;
  cursor: pointer;
  border: 1px solid #b0b0b0;
  transition: background-color 0.3s, color 0.3s;
}

.tag:hover {
  background-color: #f0f0f0;
}

.tag.active {
  background-color: #333;
  color: white;
}

.select {
  width: 150px;
}

.select .ant-select-selector {
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 4px 8px;
  height: auto;
}

.select .ant-select-selection-placeholder {
  line-height: normal;
}

.select .ant-select-arrow {
  color: #bfbfbf;
}

@media (max-width: 650px) {
  .breadcrumb {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.5;
  }
}

@media (max-width: 420px) {
  .starRating {
    flex-direction: column;
  }

  .tags {
    flex-direction: column;
  }
}

@media (pointer: coarse) {
  .breadcrumb a:hover {
    text-decoration: none;
  }

  .card:hover .cardImage {
    transform: none !important;
  }
}
