.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px 50px;
}

.breadcrumb {
  font-size: 16px;
  color: #7d7d7d;
  margin-bottom: 40px;
}

.breadcrumb a {
  text-decoration: none;
  color: #666;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.description {
  font-size: 16px;
  color: #333;
  margin: 20px 0;
}

.tabs {
  display: flex;
  justify-content: start;
  margin-bottom: 30px;

  a {
    padding: 10px 20px;
    margin: 5px 5px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
  }

  .activeTab {
    background-color: #25492a;
    color: white;
    border: none;
  }

  .tab {
    background-color: #f5f5f5;
    color: #25492a;
    border: 1px solid #000;
  }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.dropdownIcon {
  cursor: pointer;
  font-size: 24px;
  color: #2b5329;
  margin-bottom: 10px;
}

.iframe {
  width: 100%;
  height: 60vh;
  border: none;
  margin-bottom: 50px;
}

.materialLink {
  text-decoration: none;
  color: #006400;
  font-weight: bold;
}

.textLink {
  text-decoration: underline;
  color: #333;
  margin: 10px 0;
}

.materialIcon {
  margin-right: 5px;
}

@media (max-width: 825px) {
  .breadcrumb {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  .h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .tabs {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

    button {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 480px) {
  .iframe {
    width: calc(100% + 100px);
    height: 70vh;
    margin-left: -50px;
    margin-bottom: 20px;
  }
}
