.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px 50px;
}

.breadcrumb {
  font-size: 16px;
  color: #7d7d7d;
  margin-bottom: 40px;
}

.breadcrumb a {
  text-decoration: none;
  color: #666;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #25492A;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 25%;
  height: auto;
  text-decoration: none;
  color: #f9f9f9;
  transition: transform 0.6s ease;
  margin-bottom: 20px;
}

.card:hover .cardImage {
  transform: scale(1.1);
}

.containerHeader {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 40px;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.cardTitle {
  position: absolute;
  margin: 0;
  padding: 10px;
  padding-bottom: 50px;
  font-size: 40px;
  color: #fff;
  background: linear-gradient(to top, rgba(176, 176, 176, 0), rgba(58, 58, 58, 0.8));
}

.cardImage {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
  transition: transform 0.6s ease;
}

.h1 {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  color: #000;
  margin: 10px 0;
}

.tabs {
  display: flex;
  justify-content: start;
  margin-bottom: 30px;

  a {
    padding: 10px 20px;
    margin: 5px 5px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
  }

  .activeTab {
    background-color: #25492a;
    color: white;
    border: none;
  }

  .tab {
    background-color: #f5f5f5;
    color: #25492a;
    border: 1px solid #000;
  }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.dropdownIcon {
  cursor: pointer;
  font-size: 24px;
  color: #2b5329;
  margin-bottom: 10px;
}

.materialLink {
  text-decoration: none;
  color: #006400;
  font-weight: bold;
}

.textLink {
  text-decoration: underline;
  color: #333;
  margin: 10px 0;
}

.materialIcon {
  margin-right: 5px;
}


@media (max-width: 1225px) {
  .cardTitle {
    font-size: 30px;
  }
}

@media (max-width: 825px) {
  .containerHeader {
    flex-direction: column;
  }

  .leftContainer {
    width: 100%;
  }

  .card {
    background-color: #25492A;
    width: 100%;
    height: 300px;
  }
  
  .breadcrumb {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  .cardTitle {
    width: calc(100% - 60px);
    height: 40%;
    font-size: 32px;
    padding: 30px;
  }

  .h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .tabs {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

    button {
      margin-bottom: 10px;
    }
  }
}

@media (pointer: coarse) {
  .breadcrumb a:hover {
    text-decoration: none !important;
  }

  .tabs a:hover {
    background-color: inherit !important;
    color: inherit !important;
  }

  .materialLink:hover,
  .textLink:hover {
    text-decoration: none !important;
    color: inherit !important;
  }
}
