.teamSection {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
  }
  
  .sectionTitle {
    font-size: 40px;
    font-weight: bold;
    color: #2b5329;
    margin-bottom: 30px;
    text-align: left;
  }
  
  .teamContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  .teamMember {
    flex: 1;
    text-align: center;
  }
  
  .teamMemberImage {
    width: 100%;
    width: 260px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .teamMemberName {
    margin: 0;
    font-size: 20px;
    color: #2b5329;
    font-weight: bold;
  }
  