.bannerContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  .bannerContent {
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
  
  .leftContainer {
    background-color: #DBF0DD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 10px;
  }
  
  .title {
    flex-wrap: wrap;
    margin: 0;
    font-size: 46px;
    font-weight: bold;
    color: #2b5329;
  }

  .infoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .info {
    display: flex;
    flex-direction: column;
  }
  
  .subtitle {
    width: 80%;
    flex-wrap: wrap;
    font-size: 16px;
    margin: 20px 0;
    color: #2b5329;
  }
  
  .buttonGroup {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .button {
    background-color: #CCE8CF;
    color: #2b5329;
    border-color: #2b5329;
    border-radius: 20px;
    transition: all 0.5s ease;
  }

  .button:hover {
    background-color: #2b5329 !important;
    color: #fff !important;
    border-color: #2b5329 !important;
  }

  .atom {
    opacity: 0.9;
    width: 370px;
    height: 200px;
  }
  
  .registerBtn {
    width: 100%;
    background-color: #2e2e2e;
    color: #fff;
    height: 50px;
    border-radius: 100px;
    font-size: 18px;
  }

  .registerBtn:hover {
    background-color: #000 !important;
  }
  
  .rightContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .spinner {
    width: 50%;
  }
  
  .videoPreview {
    position: relative;
  }

  .video {
    padding-left: 10px;
    width: 50%;
    height: auto;
    border-radius: 15px;
}
