.docHeader {
  width: 98%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  padding: 20px;
  border-bottom: 1px solid #e2e2e2;
  position: fixed;
  top: 0;
  z-index: 1000;
  
    .logoAndSections {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 1200px;
      padding: 0 20px;
    }
  }
  
  .logo {
    text-align: left;
    margin-right: 20px;

    a {
      display: inline-block;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.01);
      }
    }
  
    .logoImg {
      height: 50px;
      border-radius: 10px;
    }
  }
  
  .sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
  }
  
  .sectionLink {
    color: #28a745;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 5px;
    transition: all 0.3s ease;
  
    &:hover {
      background-color: rgba(40, 167, 69, 0.1);
      color: #218838;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }

  .dropdownMenu {
    max-height: 60vh;
    position: absolute;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #e3e3e3 transparent;
  }
  
  .dropdownItem {
    max-width: 250px;
    padding: 5px 10px;
    text-decoration: none;
    color: black;

    &:hover {
      background: #f0f0f0;
    }
  }

  .skeletonButton {
    width: 135px !important;
    height: 20px !important;
  }  
  
  @media (max-width: 820px) {
    .docHeader {
      flex-direction: column;
      padding: 15px 0;
    }

    .logo {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .logoAndSections {
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }

    .sections {
      justify-content: center;
      margin-left: 0;
    }
  
    .sectionLink {
      font-size: 14px;
    }
  }
  