.docHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #e2e2e2;
  
    .logoAndSections {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 1200px;
      padding: 0 20px;
    }
  }
  
  .logo {
    flex: 1;
    text-align: left;

    a {
      display: inline-block;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  
    .logoImg {
      height: 50px;
      border-radius: 10px;
    }
  }
  
  .sections {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 15px;
    margin-left: 10px;
    overflow-x: auto;
  }
  
  .sectionLink {
    color: #28a745;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 5px;
    transition: all 0.3s ease;
  
    &:hover {
      background-color: rgba(40, 167, 69, 0.1);
      color: #218838;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }

  .dropdownMenu {
    position: absolute;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .dropdownItem {
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    &:hover {
      background: #f0f0f0;
    }
  }
  
  
  @media (max-width: 768px) {
    .docHeader {
      padding: 15px 0;
    }
  
    .logoAndSections {
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
  
    .sections {
      flex-direction: column;
      align-items: center;
      gap: 15px;
      margin-left: 0;
    }
  
    .sectionLink {
      font-size: 14px;
    }
  }
  